<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>List of todos</h1>

    <a href="/new">create</a>

    <p id="todo-count"></p>

    <ul id="todo-list"></ul>
    <br />
    <p>Completed</p>
    <ul id="completed-list"></ul>

    <script>
      const clickListener = (event) => {
        const id = event.target.id;
        fetch("/complete/" + id, {
          method: "PATCH",
        }).then((response) => {
          window.location.reload();
        });
      };

      fetch("/list")
        .then((response) => {
          return response.json();
        })
        .then((json) => {
          const list = document.getElementById("todo-list");
          const completedList = document.getElementById("completed-list");
          list.addEventListener("click", clickListener);

          const todoCountTitle = document.getElementById("todo-count");

          const todoCount = json.data.filter((todo) => !todo.done).length;

          todoCountTitle.innerHTML = "You have " + todoCount + " TODOs left";

          json.data.forEach((todo) => {
            if (todo.done === true) {
              completedList.innerHTML +=
                "<li id='" + todo.id + "'>" + todo.name + "</li>";
            } else {
              list.innerHTML +=
                "<li id='" + todo.id + "'>" + todo.name + "</li>";
            }
          });
        });
    </script>
  </body>
</html>
